.excaliburBG {
    background-color: #FCF8F8;
    height: 91.5vh;
}

.excaliburBlue {
    color: #0600A7;
}

.excaliburTitle {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 900;
}